#countries-id{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#country-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.countries-div{
    background-color: rgba(98, 185, 219, 0.445);
    border: 2px solid tomato;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

}
.country-detail-div{
    background-color: rgba(0, 255, 255, 0.479);
    border: 2px solid rgb(136, 135, 222);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

}